:root {
    --white_color: #ffffff;
    --theme: #C7002E;
}

.wrap {
    height: 1000vh;
}


.header {
    background: var(--theme);
    line-height: 80px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
}

.header_wrap .gnb ul {
    display: flex;
    gap: 30px;
}

.header_wrap .gnb ul li {
    font-size: 20px;
    color: var(--white_color);
    font-weight: 600;
}


.header_wrap .customer {
    display: flex;
    gap: 10px;
    align-content: flex-end;
}

.header_wrap .customer>* {}

.header_wrap .customer span {
    display: block;
    font-size: 32px;
    line-height: 80px;
    font-weight: 100;

    color: #fff;
}





.header_wrap .menu {
    display: none;

    /* 모바일 버튼 */
}



/* 숏컷, 다 만들고 올릴 예정 */

.short_cut {
    position: fixed;
    top: 50%;
    right: 50px;

    display: none;
}


.short_cut_wrap {
    display: flex;
    flex-direction: column;
}



/* swiper */

.main_slide_wrap {
    position: relative;
}

.swiper-pagination {}


.swiper-tab {
    position: absolute;
    display: flex;
    gap: 4px;
    bottom: 10%;
    right: 10%;

    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;

    z-index: 999;
}

.swiper-pagination-fraction {
    position: static;
    right: 10%;
    left: auto;
    width: auto;
    bottom: 10%;

    color: #fff;
    align-self: center;
}

.swiper-button-next {
    position: static;
    color: #fff;

    align-items: flex-end;


}

.swiper-button-next:after {
    font-size: 20px;
}

.swiper-button-prev {
    position: static;
    color: #fff;

    height: auto;
    left: auto;
    right: 10%;
    bottom: 10%;

    align-items: flex-end;
}

.swiper-button-prev:after {
    font-size: 20px;

}


/* 그리드  */


.grid_tab .tit {
    display: flex;
    justify-content: space-between;

    margin: 0 auto 40px auto;
}

.grid_tab .tit .right {
    align-self: flex-end;
}

.grid_tab .tit .right .tab_tit {
    display: flex;
    gap: 10px;
}

.grid_tab .tit .right .tab_tit li a {
    border: 1px solid #f1f1f1;
    color: #999999;
    padding: 8px 16px;
    font-size: 20px;

    border-radius: 25px;
}

.grid_tab_wrap {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.grid_tab_wrap .itm {
    border: 1px solid #f1f1f1;
    border-radius: 25px;
}


.grid_tab_wrap .itm:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;


}

.grid_tab_wrap .itm:nth-child(1) p {
    margin: 0 0 16px 0;
    color: var(--theme);
    opacity: 0.7;
}


.grid_tab_wrap .itm figure {
    border-radius: 25px;
    overflow: hidden;
}

.grid_tab_wrap .itm .grid_txt {
    display: block;
    padding: 12px;

    word-break: keep-all;
}


.grid_tab_wrap .itm strong {
    color: #000;
    margin: 0 0 16px 0;
    line-height: 24px;
}

.grid_tab_wrap .itm em {
    font-size: 20px;
    font-weight: 800;
}

.grid_tab_wrap .itm .money p {
    text-decoration: line-through;
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.grid_tab_wrap .itm .percent {
    color: var(--theme);
}


.grid_tab_wrap .itm .star p {
    font-size: 14px;
    color: #999;
}

.grid_tab_wrap .itm .star span {
    color: #d0ff00;
    border: none;
    outline: none;
    font-size: 20px;

    transform: translate(0, 2px);
}

.grid_tab .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* 버튼 기능 파트 */


.grid_tab .grid_tab_wrap {
    display: none;
}

.grid_tab .grid_tab_wrap.on {
    display: grid;
}

.grid_tab .tit .right .tab_tit li a.on {
    background: var(--theme);
    color: #fff;
    border: none;
}